body {
  background: #111;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* Scene 1*/
.scene1 {
  margin: 0 auto;
  padding: -100px;
}

#godzilla img{
  width: 110%;
  margin-top: 50px;
  padding-top: 100px;
}





#blue-wave img{
    padding-top: 130px;
}

#pink-jellyfish-1 img{
  width: 50%;
  padding-left: 350px;
  padding-top: 670px;

}

#ship img{
  width: 300%;
  height: 300%;
}

.scene2 {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

/*.layer:nth-child(1) {
  opacity: 0.15;
}
.layer:nth-child(2) {
  opacity: 0.30;
}
.layer:nth-child(3) {
  opacity: 0.45;
}
.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(6) {
  opacity: 0.90;
}
*/